.navbar-container
    background-color: #2e2d2d
.navbar
    padding: 1em .5em
    display: flex
    justify-content: space-around
    align-items: center
.logo
    height: 9em
.toggler
    transform: scale(1.3)
.links_container
    display: none
    max-width: 90%
    margin: 0
    padding: 0
    list-style-type: none
.link
    padding: 1em .5em
    display: flex
    justify-content: center
    text-align: center
    flex-wrap: wrap
    a
        text-decoration: none
        color: #cccccc
