<mat-sidenav-container hasBackdrop="true" class="mat-sidenav-container">
  <mat-sidenav-content class="global-container">
    <div
      [class]="{ 'navbar-container': true, nav_scrolled: scrolled }"
      (window:scroll)="navOnScroll()"
    >
      <nav class="navbar container">
        <a routerLink="/">
          <img
            [class]="{ logo: true, logo_animated: scrolled }"
            src="assets/images/icons/logo.png"
            alt="Alpha Club"
          />
        </a>
        <button
          mat-mini-fab
          (click)="sidenav.toggle()"
          aria-label="menu"
          color="basic"
          class="toggler"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <ul class="nav-links">
          <li class="link" *ngFor="let hyperlink of Hyperlinks">
            <a
              [href]="hyperlink.route"
              *ngIf="!hyperlink.dropdown?.value; else elseBlock"
              >{{ hyperlink.name | uppercase }}</a
            >
            <ng-template #elseBlock mat-button>
              <a
                [matMenuTriggerFor]="belowMenu"
                class="dropdown-trigger"
                #menuTrigger="matMenuTrigger"
              >
                {{ hyperlink.name | uppercase }}
                <mat-icon>expand_more</mat-icon>
              </a>
            </ng-template>
            <mat-menu #belowMenu="matMenu" yPosition="below">
              <a
                mat-menu-item
                [class]="{
                  'dropdown-item': true,
                  nav_scrolled: !scrolled
                }"
                [href]="hyperlink_1.route"
                *ngFor="let hyperlink_1 of hyperlink.dropdown?.hyperlinks"
                >{{ hyperlink_1.name | uppercase }}
              </a>
            </mat-menu>
          </li>
        </ul>
      </nav>
    </div>
    <app-landing></app-landing>
    <app-footer></app-footer>
  </mat-sidenav-content>
  <mat-sidenav
    #sidenav
    mode="side"
    class="links-container fixed"
    position="end"
  >
    <li class="link-sidenav" *ngFor="let hyperlink of Hyperlinks">
      <a
        [href]="hyperlink.route"
        *ngIf="!hyperlink.dropdown?.value; else elseBlock"
        >{{ hyperlink.name | uppercase }}</a
      >
      <ng-template #elseBlock mat-button>
        <a [matMenuTriggerFor]="belowMenu" class="dropdown-trigger">
          {{ hyperlink.name | uppercase }}
          <mat-icon>expand_more</mat-icon>
        </a>
      </ng-template>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <a
          mat-menu-item
          [href]="hyperlink_1.route"
          class="dropdown-item"
          *ngFor="let hyperlink_1 of hyperlink.dropdown?.hyperlinks"
          >{{ hyperlink_1.name | uppercase }}</a
        >
      </mat-menu>
    </li>
  </mat-sidenav>
</mat-sidenav-container>
